# Описание
Это архивный ноутбук с описанием создания моделей, EDA, препроцессиногом и тестов c продуктовым датасетом. Конкретнее - это товарный классификатор и подбор товара Чат-бота. Этот стоит нужно смотреть во вторую очередь.
- [Главный ноутбук](./../chat_bot.ipynb)

# Зависимости

```
annoy==1.17.1 anyio==3.6.2 argon2-cffi==21.3.0 argon2-cffi-bindings==21.2.0 arrow==1.2.3 asttokens==2.2.1 attrs==22.2.0 Babel==2.11.0 backcall==0.2.0 beautifulsoup4==4.11.1 bleach==5.0.1 certifi==2022.12.7 cffi==1.15.1 charset-normalizer==2.1.1 click==8.1.3 colorama==0.4.6 comm==0.1.2 contourpy==1.0.6 cycler==0.11.0 Cython==0.29.32 debugpy==1.6.4 decorator==5.1.1 defusedxml==0.7.1 entrypoints==0.4 executing==1.2.0 fastjsonschema==2.16.2 fonttools==4.38.0 fqdn==1.5.1 fst-pso==1.8.1 FuzzyTM==2.0.5 gensim==4.3.0 idna==3.4 ipykernel==6.19.4 ipython==8.8.0 ipython-genutils==0.2.0 isoduration==20.11.0 jedi==0.18.2 Jinja2==3.1.2 joblib==1.2.0 json5==0.9.11 jsonpointer==2.3 jsonschema==4.17.3 jupyter-events==0.5.0 jupyter_client==7.4.8 jupyter_core==5.1.2 jupyter_server==2.0.6 jupyter_server_terminals==0.4.3 jupyterlab==3.5.2 jupyterlab-pygments==0.2.2 jupyterlab_server==2.18.0 kiwisolver==1.4.4 lxml==4.9.2 MarkupSafe==2.1.1 matplotlib==3.6.2 matplotlib-inline==0.1.6 miniful==0.0.6 mistune==2.0.4 nbclassic==0.4.8 nbclient==0.7.2 nbconvert==7.2.7 nbformat==5.7.1 nest-asyncio==1.5.6 nltk==3.8.1 notebook==6.5.2 notebook_shim==0.2.2 numpy==1.24.1 packaging==22.0 pandas==1.5.2 pandocfilters==1.5.0 parso==0.8.3 patsy==0.5.3 pickleshare==0.7.5 Pillow==9.4.0 platformdirs==2.6.2 prometheus-client==0.15.0 prompt-toolkit==3.0.36 protobuf==4.21.12 psutil==5.9.4 pure-eval==0.2.2 pycparser==2.21 pyFUME==0.2.25 Pygments==2.14.0 pymystem3==0.2.0 pyparsing==3.0.9 pyrsistent==0.19.3 python-dateutil==2.8.2 python-json-logger==2.0.4 pytz==2022.7 pywin32==305 pywinpty==2.0.10 PyYAML==6.0 pyzmq==24.0.1 regex==2022.10.31 requests==2.28.1 rfc3339-validator==0.1.4 rfc3986-validator==0.1.1 scikit-learn==1.2.0 scipy==1.10.0 Send2Trash==1.8.0 simpful==2.9.0 six==1.16.0 smart-open==6.3.0 sniffio==1.3.0 soupsieve==2.3.2.post1 stack-data==0.6.2 statsmodels==0.13.5 terminado==0.17.1 threadpoolctl==3.1.0 tinycss2==1.2.1 tomli==2.0.1 tornado==6.2 tqdm==4.64.1 traitlets==5.8.0 uri-template==1.2.0 urllib3==1.26.13 wcwidth==0.2.5 webcolors==1.12 webencodings==0.5.1 websocket-client==1.4.2
```

# Import

In [1]:
### standard ###
import itertools
import json 
import re
import numpy as np
from joblib import Parallel, delayed


#### site-packages ###
import pandas as pd
from pymystem3 import Mystem
from nltk.corpus import stopwords
import gensim
import pickle

from sklearn.feature_extraction.text import CountVectorizer
from sklearn import model_selection, preprocessing
from sklearn import linear_model, metrics
from sklearn.neighbors import KNeighborsClassifier

# functions

In [2]:
'''Class for properties column preprocessing'''
#‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾#
class properties_prerpoc():
    def __init__(self, ser):
        self.ser = ser

    def show_ser(self):
        return self.ser
        
    '''Get dictionaries from suitable string  '''
    def get_dict(string):
        try: result = eval(string) # .values()
        except: result = None # urls also will be here
        
        return result
    
    '''Get series from prepared Series with dictionaries''' ###############################################DFDSFSDFSDFSFSDFSDFSDFSDFSDFSD
    def get_series_of_dicts(self):
        for i in self.ser.index:
            self.ser.at[i] = get_dict(self.ser[i])
    
    '''Get all keys and values from prepared Series with dictionaries'''
    def get_all_keys_and_values(self):
        clean_properties = self.ser.dropna()  #

        clean_properties_keys = []
        clean_properties_values = []

        for dct in clean_properties.values:
            clean_properties_keys += dct.keys()
            clean_properties_values += dct.values()

        clean_properties_keys = pd.Series(clean_properties_keys)
        clean_properties_values = pd.Series(clean_properties_values)
        
        return clean_properties_keys,clean_properties_values
    
    ''' Make Series with lists of keys and values 
        from prepared Series with dictionaries    '''
    def compress_expand_lists_to_ser(self):
        properties_key_lists = self.ser.copy()
        properties_value_lists = self.ser.copy()

        for i in self.ser.index:
            try:
                properties_key_lists[i] = list(properties_key_lists[i].keys())
                properties_value_lists[i] = list(properties_value_lists[i].values())
            except:
                properties_key_lists[i] = None
                properties_value_lists[i] = None
            
        return properties_key_lists, properties_value_lists
    
    '''Replace string "duno" with ["duno"]''' ##################################### Не робит, ибо не dunno, а ненаю
    def replace_dunno_with_list(self, column):
        for i in column.index:
            name = column.name
            if df[name][i] == "dunno":
                df.loc[:, name][i] = ["dunno"]



#‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾#
'''Get dictionaries from suitable string  '''
def get_dict(string):
    try: result = eval(string) # .values()
    except: result = None # urls also will be here
    return result
#___________________________________________________#



"""Class for preprocessing especially for model"""
#‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾#
class model_prerpoc():
    def __init__(self, ser):
        self.ser = ser
    
    '''Transforms series to one string without stop-words and garbage symbols'''
    def prepearing_for_lemmatization(self):
        series = self.ser
        
        if series.dtype == object:
            
            ## making one big string
            series = series.apply(lambda x: str(x)[1:-1])
            union_string = series.str.cat(sep="`<>`")
            
            ##replace some garbage symbols
            union_string = union_string.replace("\n", " ")
            union_string = union_string.replace("?", " ")
            union_string = union_string.replace(")", " ")
            union_string = union_string.replace("(", " ")
            union_string = union_string.replace("!", " ")
            union_string = union_string.replace(".", " ")
            union_string = union_string.replace(",", " ")
            union_string = union_string.replace("\'", " ")
            union_string = union_string.replace("'", " ")
            union_string = union_string.replace("   ", " ")
            union_string = union_string.replace("  ", " ")
            
            return union_string
        
        # union descrirption into one string
        
        union_string = series.str.cat(sep="`<>`")

        '''replace stopwords except "не"'''
        #‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾#
        stop = stopwords.words("russian")
        stop.remove("не")

        union_string = re.sub(
            "\\s" + " ".join(stop).replace(' ','\s|\s'),
            " ", union_string)
        
        union_string = re.sub("не\s", "не", union_string)     # не !!!
        #______________________________________________________#

        '''replace some garbage symbols'''
        #‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾# 
        union_string = union_string.replace("\n", " ")
        union_string = union_string.replace("?", " ")
        union_string = union_string.replace(")", " ")
        union_string = union_string.replace("(", " ")
        union_string = union_string.replace("!", " ")
        union_string = union_string.replace(".", " ")
        union_string = union_string.replace(",", " ")
        union_string = union_string.replace("\'", " ")
        union_string = union_string.replace("'", " ")
        union_string = union_string.replace("   ", " ")
        union_string = union_string.replace("  ", " ")
        
        return union_string

    '''lemmatization with pymystem3 and parallelizm'''
    def lemmatization(self, text_for_mystem):
        # split large string to 6 lists with smaller strings for parallel lemmatization
        arrays = pd.Series(np.array_split(text_for_mystem.split('`<>`'), 6))

        ## concatenate strings in arrays with separator for future split
        union_string_6 = []
        for array in arrays:
            union_string_6.append(pd.Series(array).str.cat(sep="`<>`"))


        ## here is parallel lemmatization. 40 seconds duration
        m = Mystem().lemmatize
        results = Parallel(n_jobs=-1)(delayed(m)(x) for x in union_string_6)

        ## replace pointless tabulation
        strings = []
        for array in results:
            text = " ".join(array).replace("   ", " ").replace("  ", " ")
            text = re.sub("не\s", "не", text) ### !  join "не"
            strings.append(text)

        ## split strings to arrays
        lemma_array = []
        for string in strings:
            lemma_array.append(string.split("`<>`"))

        output = []
        for lst in lemma_array:
            for string in lst:
                output.append(string)

        lemma_series = pd.Series(output)
        
        return lemma_series
    



###### get product dataset enriched with chat messages  #######################
def get_enriched_df(third_party_df_size):
    chat = pd.read_json("pikabu_chat.json")
    chat_column = chat.text

    chat_column = chat_column.sample(third_party_df_size) 
    chat_column = chat_column.astype("string")

    ## to lower case and delete spaces around string ###
    chat_column = chat_column.str.lower().str.strip()

    ## drop garbage from strings and prepare for lemmatization 
    model_prerpoc_chat = model_prerpoc(chat_column)

    ## get plain text of the columns without stop-words
    chat_text = model_prerpoc_chat.prepearing_for_lemmatization() 

    ## lemmatization
    chat = model_prerpoc_chat.lemmatization(chat_text) 

    ###### make union dataset for binary classification ###########################

    ### marking strings from each dataset  ###
    chat_df = pd.DataFrame([chat, np.zeros(len(chat))]).T
    chat_df.columns = ["message", "is_product"]

    df_for_combine = pd.DataFrame([df.text, np.ones(len(df.text))]).T
    df_for_combine.columns = ["message", "is_product"]

    ### make union dataset ###
    df_product_cl = pd.concat([chat_df,df_for_combine]) 
    df_product_cl["is_product"] = df_product_cl.is_product.astype("string")

    ### tidy up text
    df_product_cl["message"] = df_product_cl.message.str.replace('\n', " ")
    df_product_cl["message"] = df_product_cl.message.str.replace('   ', " ")
    df_product_cl["message"] = df_product_cl.message.str.replace('  ', " ")
    
    return df_product_cl

"""Use trained KNN to get its prediction"""
def get_neigh_answer(s):
    text = " ".join((Mystem().lemmatize(s))) # leammatization

    lemmatized_words = gensim.utils.simple_preprocess(text)     # word preprocessing

    lst = []
    for i, word in enumerate(lemmatized_words):
        try:lst.append( model.wv.get_vector(word) )
        except KeyError: pass

    try: prediction = neigh.predict([np.sum(np.array(lst), axis=0)])[0]
    except ValueError: print("Похоже, что вы искали товар, но увы в каталоге нет ничего похожего.\nПопробуйте переформулировать запрос.")

    return f"{prediction} {df[df.product_id == prediction].title.values[0]}"

# Data

In [3]:
df = pd.read_csv("ProductsDataset.csv")
df.sample(3)

,title,descrirption,product_id,category_id,subcategory_id,properties,image_links
34671,Сапоги,Как новые.,5bea73b82756ba99c20b22b2,22.0,2209,"{'detskie_tzvet': 'Розовый', 'detskie_obuv_raz...",http://cache3.youla.io/files/images/360_360/5b...
26127,Костюм зимний,NaN,5b9f43aabedcc55fe4533259,22.0,2204,"{'detskie_pol': 'Девочкам', 'detskaya_odezhda_...",http://cache3.youla.io/files/images/360_360/5b...
15269,Брюки с лампасами,44р.,5b16937680e08e4c723b1e2a,9.0,906,{'zhenskaya_odezhda_dzhinsy_bryuki_tip': 'Брюк...,http://cache3.youla.io/files/images/360_360/5b...

# EDA

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35548 entries, 0 to 35547
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           35548 non-null  object
 1   descrirption    33537 non-null  object
 2   product_id      35536 non-null  object
 3   category_id     35536 non-null  float64
 4   subcategory_id  35536 non-null  object
 5   properties      35536 non-null  object
 6   image_links     35533 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.9+ MB

Первым делом стоит проверить предсказываемую переменную

In [214]:
df.product_id.value_counts()

22                          2
5b7d13eab5fc2dafe776cee6    1
59c554542c593e3f0f4698f4    1
5a05f9aa93800091e664d9e5    1
5b7d1431132ca510d6123e6c    1
                           ..
5a463804cf2045899e6d45a6    1
5a3f987d2138bba823722b98    1
5ab5d7b4b261ff801e1e08da    1
5ab4a831f20263a8627ab818    1
5bd6c8fbaaab283b79142a1f    1
Name: product_id, Length: 35535, dtype: int64

Это что за id такое

In [229]:
df[df.product_id == '22']

,title,descrirption,product_id,category_id,subcategory_id,properties,image_links
4654,----------,5afaddcf2138bb98c33d3ee2,22,2217.0,"{'detskie_pol': 'Мальчикам', 'detskaya_odezhda...",http://cache3.youla.io/files/images/360_360/5a...,NaN
27021,----------,5afab14a5eaa9e39660090c2,22,2217.0,{'detskaya_odezhda_aksessuary_tip': 'Головные ...,http://cache3.youla.io/files/images/360_360/5a...,NaN

В этих строках происходит смещение влево по столбцам. Слова можно брать из properties. Однако 2 строки не имеют веса, их не будет в итоговом датасете.

In [3]:
df.title.value_counts()

Платье                         1152
Туфли                           386
Куртка                          265
Юбка                            231
Джинсы                          222
                               ...
Ободок.                           1
Платье (двойка)                   1
Переноска детская                 1
Продам сандали подростковые       1
Новая золотая ветровка            1
Name: title, Length: 23585, dtype: int64

Выглядит хорошо

In [4]:
df.product_id.value_counts()

22                          2
5b7d13eab5fc2dafe776cee6    1
59c554542c593e3f0f4698f4    1
5a05f9aa93800091e664d9e5    1
5b7d1431132ca510d6123e6c    1
                           ..
5a463804cf2045899e6d45a6    1
5a3f987d2138bba823722b98    1
5ab5d7b4b261ff801e1e08da    1
5ab4a831f20263a8627ab818    1
5bd6c8fbaaab283b79142a1f    1
Name: product_id, Length: 35535, dtype: int64

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35548 entries, 0 to 35547
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           35548 non-null  object
 1   descrirption    33537 non-null  object
 2   product_id      35536 non-null  object
 3   category_id     35536 non-null  float64
 4   subcategory_id  35536 non-null  object
 5   properties      35536 non-null  object
 6   image_links     35533 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.9+ MB
None

## subcategory_id
Подкатегории содержат строки и числа

In [31]:
print(df.subcategory_id.value_counts().to_string())

904                                                                                             4181
902                                                                                             3657
903                                                                                             2709
914                                                                                             2500
2209                                                                                            2455
2204                                                                                            2118
2211                                                                                            1208
314                                                                                             1179
906                                                                                             1109
907                                                                                             1074
2206                                                                                            1014
2216                                                                                             939
905                                                                                              768
2213                                                                                             668
908                                                                                              595
2217                                                                                             541
909                                                                                              487
811                                                                                              415
803                                                                                              413
2210                                                                                             403
910                                                                                              338
317                                                                                              331
2201                                                                                             327
2203                                                                                             305
802                                                                                              304
2202                                                                                             285
911                                                                                              282
320                                                                                              262
922                                                                                              261
2215                                                                                             258
2214                                                                                             223
301                                                                                              220
312                                                                                              204
806                                                                                              203
912                                                                                              194
2207                                                                                             191
901                                                                                              191
808                                                                                              185
311                                                                                              181
805                                                                                              153
807                                                                                              149
921                                                                                              149
1102                                                                                             117
2208                                                                                             110
319                                                                                              102
1107                                                                                             101
804                                                                                               99
814                                                                                               95
316                                                                                               91
1105                                                                                              90
919                                                                                               75
1101                                                                                              74
2205                                                                                              74
809                                                                                               74
920                                                                                               73
309                                                                                               71
1103                                                                                              70
1104                                                                                              70
313                                                                                               63
2212                                                                                              57
818                                                                                               54
1109                                                                                              42
310                                                                                               41
801                                                                                               39
1106                                                                                              37
1113                                                                                              34
1112                                                                                              28
810                                                                                               28
1115                                                                                              23
1110                                                                                              23
1108                                                                                              22
1111                                                                                              11
318                                                                                                7
816                                                                                                5
1114                                                                                               2
817                                                                                                2
{'detskie_pol': 'Мальчикам', 'detskaya_odezhda_aksessuary_tip': 'Головные уборы'}                  1
{'osveshchenie_tip': 'Лампочки', 'category': 'Телефоны и планшеты', 'subcategory': 'Другое'}       1
{'detskaya_odezhda_aksessuary_tip': 'Головные уборы', 'detskie_pol': 'Девочкам'}                   1

Этот хвостик из строк в числах можно удалить т.к. это капля в море

## Properites

In [6]:
'''Get dictionaries from suitable string  '''
def get_dict(string):
    try: result = eval(string) # .values()
    except: result = None # urls also will be here
    return result

In [15]:
lst

{'zhenskaya_odezhda_aksessuary_tip': 'Шарфы и платки'}

In [12]:
properties_list = []

for i in df['properties']:
    dct = get_dict(i)
    if dct == {}:
        properties_list.append(None)
    else:
        properties_list.append(dct)

ser = pd.Series(properties_list)
ser.sample()

6834    {'zhenskaya_odezhda_verhnyaya_tip': 'жилеты', ...
dtype: object

In [9]:
len(ser)

35534

In [33]:
len(ser.dropna())

31089

In [32]:
df[ser.isna()]

,title,descrirption,category_id,subcategory_id,properties
11,Рубашка новая 2 шт,"За обе 250, на размер 50-52",8.0,805,{}
12,НОВАЯ ЖЕНСКАЯ СУМКА ГЕРМАНИЯ БРЕНД АЭРОСОФТ,АБСОЛЮТНО НОВАЯ СУМКА ИЗ ЭКО КОЖИ ИМЕЕТ ДВЕ Р...,9.0,914,{}
15,Платье новое,Новое платье 46-48размера. Красивый цвет .смот...,9.0,904,{}
19,Сумки Мягкие игрушки Кукла Fisher Price,"Мягкие игрушки в идеальном состоянии, все как ...",3.0,314,{}
23,Шорты Кальцедония размер 42,"Совершенно новые шорты , купила без примерки, ...",9.0,906,{}
...,...,...,...,...,...
35471,Сборная модель,По предварительной договоренности можно забира...,3.0,314,{}
35487,Милый развивающий домик для вашего малыша.,Новый.успей купить за 500,3.0,314,{}
35493,Турбо зажигалка,Оригинальные турбо зажигалки ( металлические),8.0,811,{}
35504,Качелька,"Качалка детская в идеальном состоянии, белый ш...",3.0,317,{}
35527,"Zara,костюм для девочки","Костюм для девочки ,р.74, легинсы baby go ,74р...",22.0,2216,{}

Помимо отсутствующих properties эти стрки выглядят хорошо и их стоит использовать. Можно будет использовать только title и description

### Проверка подкатегорий, категорий и properties

In [14]:
data = df[~ser.isna()]
not_full_data = df[ser.isna()]

In [ ]:
clean_properties = ser.dropna()

clean_properties_keys = []
clean_properties_values = []

for dct in clean_properties.values:
    clean_properties_keys += dct.keys()
    clean_properties_values += dct.values()
    
clean_properties_keys = pd.Series(clean_properties_keys)
clean_properties_values = pd.Series(clean_properties_values)


print("количество уникальных ключей из словарей properties:",
      len(clean_properties_keys.value_counts()))

print("количество уникальных значений из словарей properties:",
    len(clean_properties_values.value_counts()))

print("Все комбинации категорий и подкатегорий:",
    len(data.category_id.value_counts()) 
    * len(data.subcategory_id.value_counts()))

**Гиппотеза опровергнута**

### Транслит

In [162]:
clean_properties_keys[14003: 14020]

14003         zhenskaya_odezhda_platya_yubki_tip
14004                    zhenskaya_odezhda_tzvet
14005                              detskie_tzvet
14006        detskaya_odezhda_platya_i_yubki_tip
14007                        sostojanie_garderob
14008                        detskie_razmer_rost
14009      detskaya_odezhda_platya_i_yubki_dlina
14010      detskaya_odezhda_platya_i_yubki_sezon
14011                    muzhskaya_odezhda_tzvet
14012       muzhskaya_odezhda_dzhinsy_bryuki_tip
14013                    muzhskaya_odezhda_sezon
14014                    muzhskie_dzhinsy_razmer
14015                    muzhskaya_odezhda_tzvet
14016                    zhenskaya_odezhda_tzvet
14017                   zhenskaya_odezhda_razmer
14018    zhenskaya_odezhda_svitery_tolstovki_tip
14019                    zhenskaya_odezhda_sezon
dtype: object

Столбец не похож на поиск человека, даже если перевести его транслит, так же значения словаря, откуда появились эти ключи описывают гиппотетический поиск человека, даже более детально. Из ключей появится категориальный признак.

In [161]:
clean_properties_values[14003]

'Вечерние платья'

### Итоговый вариант полезного из properties

In [197]:
clean_properties.sample()

26494    {'zhenskaya_odezhda_obuv_tip': 'Сапоги', 'zhen...
dtype: object

In [198]:
'''make lists of keys and values from dict for each row'''
properties_key_lists = clean_properties.copy()
properties_value_lists = clean_properties.copy()

for i in clean_properties.index:
    properties_key_lists[i] = list(properties_key_lists[i].keys())
    properties_value_lists[i] = list(properties_value_lists[i].values())

In [199]:
properties_key_lists.sample()

22177    [zhenskaya_odezhda_razmer, zhenskaya_odezhda_t...
dtype: object

In [204]:
df['properties_keys'] = properties_key_lists
df['properties_values'] = properties_value_lists
df.drop(["properties"], axis="columns", inplace=True)
df

,title,descrirption,category_id,subcategory_id,properties_keys,properties_values
0,Юбка детская ORBY,"Новая, не носили ни разу. В реале красивей чем...",22.0,2211,[detskie_razmer_rost],"[81-86 (1,5 года)]"
1,Ботильоны,"Новые,привезены из Чехии ,указан размер 40,но ...",9.0,902,"[zhenskaya_odezhda_tzvet, visota_kabluka, zhen...","[Зеленый, Высокий, 40, Новое, Демисезон, Ботил..."
2,Брюки,Размер 40-42. Брюки почти новые - не знаю как ...,9.0,906,"[zhenskaya_odezhda_dzhinsy_bryuki_tip, zhenski...","[Брюки, 26]"
3,Продам детские шапки,"Продам шапки,кажда 200р.Розовая и белая проданны.",22.0,2217,"[detskie_pol, detskaya_odezhda_aksessuary_tip]","[Девочкам, Головные уборы]"
4,Блузка,"Темно-синяя, 42 размер,состояние отличное,как ...",9.0,907,"[zhenskaya_odezhda_tzvet, zhenskaya_odezhda_ra...","[Синий, 42-44 (S), Блузы]"
...,...,...,...,...,...,...
35531,Юбка,Юбка Белая по.Турция фирма adL,9.0,904,"[zhenskaya_odezhda_platya_yubki_tip, zhenskaya...","[Юбки, 40-42 (XS), Adl, Лето, Макси, Белый]"
35532,Новый твидовый пиджак,Новый с бирками пиджак размер S в стиле Coco C...,9.0,908,"[brand_zhenskii, zhenskaya_odezhda_tzvet, zhen...","[Chanel, Красный, Пиджаки, 42-44 (S)]"
35533,Женская зимняя куртка,Женская зимняя спортивная куртка фирмы Rossiqn...,9.0,903,"[zhenskaya_odezhda_razmer, zhenskaya_odezhda_s...","[48-50 (XL), Зима, Куртки]"
35534,Новая золотая ветровка,Женская ветровка размер 44-46. Цвет приглушённ...,9.0,903,"[zhenskaya_odezhda_razmer, zhenskaya_odezhda_s...","[44-46 (М), Лето, Ветровки]"
35535,Шарф,пусто,9.0,914,[zhenskaya_odezhda_aksessuary_tip],[Шарфы и платки]

## title, descrirption и properties содержат разную информацию

Все три колонки будут использоваться для рекомендаций

In [141]:
a.title.values[0]

'Облегающее платье Mohito'

In [139]:
a.descrirption.values[0]

'Без дефектов. На 42-44 российский'

In [137]:
a.properties.values[0]

"{'brand_zhenskii': 'Mohito', 'zhenskaya_odezhda_platya_yubki_tip': 'Повседневные платья', 'zhenskaya_odezhda_platya_yubki_dlina': 'Мини', 'zhenskaya_odezhda_razmer': '42-44 (S)', 'zhenskaya_odezhda_tzvet': 'Синий'}"

# Preprocessing

In [21]:
df = pd.read_csv("ProductsDataset.csv")

In [ ]:
%%time

df = pd.read_csv("ProductsDataset.csv")

###### PREPROCESSING ##########################################################


# fill missing values in `descrirption` with "пусто"
df.descrirption =  df.loc[:, "descrirption"].fillna("пустота") # fill 

#  fill strings in subcategory_id with zeros
sub_id_list = []
for i in df.subcategory_id:
    try : sub_id_list.append (int(i))
    except : sub_id_list.append(0)
    
df['subcategory_id'] = pd.Series(sub_id_list)


df.reset_index(drop=True, inplace=True)                   # reseting index

### to lower case and delete spaces around string ###
df.descrirption = df.loc[:, "descrirption"].str.lower().str.strip()
df.title = df.loc[:, "title"].str.lower().str.strip()
df.properties = df.loc[:, "properties"].str.lower().str.strip()

# drop beaten rows
df = df.drop(df[df.product_id == '22'].index, axis="rows")
df = df.drop(df[df.properties.isna()].index, axis="rows") # drop missing values

### Properties ### + 4 sec
#‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾#
ser = properties_prerpoc(df.properties)
ser.get_series_of_dicts()

properties_key_lists, properties_value_lists = ser.compress_expand_lists_to_ser() 


df["properties_key_lists"] = properties_key_lists
df["properties_value_lists"] = properties_value_lists

#df["properties_key_lists"].fillna("ненаю", inplace=True) 
#df["properties_value_lists"].fillna("ненаю", inplace=True)
#
#ser.replace_dunno_with_list(df["properties_key_lists"])
#ser.replace_dunno_with_list(df["properties_value_lists"])
#______________________________________________________#

### DROPPING ###
# drop columns
df = df.drop(["properties", "image_links"], axis="columns") # drop missing values
df.drop([26829],axis='rows',inplace=True) # and one row                             

df.reset_index(inplace=True, drop=True)

### change data type to true type
df['descrirption'] = df.loc[:,'descrirption'].astype("string")
df['title'] = df.loc[:,'title'].astype("string")
df['subcategory_id'] = df.loc[:,'subcategory_id'].astype("int64")
df['product_id'] = df.loc[:,'product_id'].astype("string")
df['category_id'] = df.loc[:,'category_id'].astype("int64")

###### MODEL PREPROCESSING ####################################################

### Stop-words ###
## initialization of the class with each column
des = model_prerpoc(df.descrirption)
title = model_prerpoc(df.title)
properties_value = model_prerpoc(df.properties_value_lists)

## get plain text of the columns without stop-words
des_text = des.prepearing_for_lemmatization() 
title_text = title.prepearing_for_lemmatization()
properties_value_text = properties_value.prepearing_for_lemmatization()

### Lemmatization ###
df.descrirption =  des.lemmatization(des_text)
df.title = title.lemmatization(title_text)
df.properties_value_lists = properties_value.lemmatization(properties_value_text)

# becouse of list to string tansformation dtype of column should change
df['properties_value_lists'] = df.loc[:,'properties_value_lists'].astype("string")

In [ ]:
df.info()

## Model Preprocessing

### Я знаю стоп-слово! 
А "не" - не считается

```python
print("До удаления стоп слов:\n", union_string[:100])
print("После:\n", text_for_mystem[:100])
```

\>>>
```
До удаления стоп слов:
 новая, не носили ни разу. в реале красивей чем на фото.`<>`новые,привезены из чехии ,указан размер 4
После:
 новая  не носили разу. реале красивей на фото.`<>`новые привезены чехии  указан размер 40 но маломер
```

In [4]:
## initialization of the class with each column
des = model_prerpoc(df.descrirption)
title = model_prerpoc(df.title)
properties_value = model_prerpoc(df.properties_value_lists)

## get plain text of the columns without stop-words
des_text = des.prepearing_for_lemmatization() 
title_text = title.prepearing_for_lemmatization()
properties_value_text = properties_value.prepearing_for_lemmatization()

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35533 entries, 0 to 35532
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   35533 non-null  string
 1   descrirption            35533 non-null  string
 2   product_id              35533 non-null  string
 3   category_id             35533 non-null  int64
 4   subcategory_id          35533 non-null  int64
 5   properties_key_lists    35533 non-null  object
 6   properties_value_lists  35533 non-null  object
dtypes: int64(2), object(2), string(3)
memory usage: 1.9+ MB

### Лемматизация

In [5]:
%%time
df.descrirption =  des.lemmatization(des_text)
df.title = title.lemmatization(title_text)
df.properties_value_lists = properties_value.lemmatization(properties_value_text)

# becouse of list to string tansformation dtype of column should change
df['properties_value_lists'] = df.loc[:,'properties_value_lists'].astype("string")

CPU times: total: 719 ms
Wall time: 43.2 s

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35533 entries, 0 to 35532
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   35533 non-null  object
 1   descrirption            35533 non-null  object
 2   product_id              35533 non-null  string
 3   category_id             35533 non-null  int64
 4   subcategory_id          35533 non-null  int64
 5   properties_key_lists    35533 non-null  object
 6   properties_value_lists  35533 non-null  string
dtypes: int64(2), object(3), string(2)
memory usage: 1.9+ MB

In [97]:
df.sample()

,title,descrirption,product_id,category_id,subcategory_id,properties_key_lists,properties_value_lists
24637,мутоновый шубка облегчать .,мех хороший качество . размер 44 - 46 ( нужно...,5b9b3fc562e1c60861430316,9,903,[],



```python
m = Mystem()
lemmas = m.lemmatize(text_for_mystem)
```
\>>>
`Более получаса прогруза, + 10% к работе процессора`

### Векторизация
**Мешок слов**

Для мешка слов нужно объединить текстовые колонки в одну

In [7]:
df['text'] = df.title + df.descrirption + df.properties_value_lists
df['text'] = df.text.str.replace(".", "")
df['text'] = df.text.str.strip()

C:\Users\zetet\AppData\Local\Temp\ipykernel_3448\2701956857.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['text'] = df.text.str.replace(".", "")

In [8]:
count_vectorizer = CountVectorizer()

# Создаем the Bag-of-Words модель
bag_of_words = count_vectorizer.fit_transform(df.text)

In [238]:
bag_of_words.shape

(35533, 27782)

А с точки зрения KNN лучшее количество кластеров не 76, как категорий в датасете, а 19

результат это accuracy

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=76)

train_and_show_model(neigh, bag_of_words, valid_column)

0.6207789284106259

In [ ]:
train_and_show_model(KNeighborsClassifier(n_neighbors=19),
                     bag_of_words,
                     valid_column)

0.6819000450247636

# Telegram чат Пикабу
Для лучшей классификации датасет был обогащённ сообщениями из телеграм канала.

[Источник](https://www.kaggle.com/datasets/dolfik/russian-telegram-chats-history). Внутри датасета одноимённый JSON файл

In [71]:
chat = pd.read_json("pikabu_chat.json")
chat

,message_id,date,reply_message_id,user_id,text
0,4,2017-03-31 08:13:25,NaN,279800907,А как тебя в админы добавить?
1,5,2017-03-31 08:13:36,NaN,689580,с мобилы раздел админы есть
2,6,2017-03-31 08:13:47,NaN,279800907,Обязательно в контактах должен быть?
3,7,2017-03-31 08:13:51,NaN,689580,"а, или долго держи на пользователе"
4,8,2017-03-31 08:13:58,NaN,689580,"не, в группе внутри"
...,...,...,...,...,...
526796,582144,2018-11-25 00:49:24,582143.0,481726002,что за праздник?
526797,582145,2018-11-25 00:51:43,582144.0,508128103,День матери сегодня
526798,582146,2018-11-25 00:52:26,582145.0,481726002,эм ...
526799,582147,2018-11-25 00:52:42,NaN,508128103,Последнее воскресенье ноября)
526800,582148,2018-11-25 00:52:58,NaN,481726002,слава богам я не мать и не собираюсь) так что ...

Строк кратно больше, чем в товарном датасете, но, возможно это и не плохо. Стоить проверить, будет ли хорошо работать классификатор с таким перевесом. Из этого датасета понадобится только столбец `text`

In [ ]:
print("Количество пропусков в колонке:", len(chat[chat.text.isna()]))

Пропусков нет, обработка не будет отличаться от сделанной выше. И лежит в функции `get_enriched_df`, в которой так же выполненно и слияние датасета с товарным.

**По поводу перевеса**. Ниже результаты работы бинарного классификатора, который учился определять, товарная строка или разговорная.

Тренировочная выборка - 25%

`count_vectorizer = CountVectorizer()` - мешок слов, построенный на обогащенном датасете

`linear_model.LogisticRegression(max_iter = 5000)` - логистическая регрессия для бинарной классификации этого датасета

**accuracy**
- 0.9953960571361115 - 100к сообщений,
- 0.9960732561761112 - 200к сообщений
- 0.9922371866816311 - 50к сообщений

Однако боевые условия это другое и это общий процент удачных предсказаний. То есть если классификатор будет учиться определять 1 экземпляр из 999 других, то даже если он его определит неправильно, то accuracy будет 99,9.

# Компоненты алгоритма

## Preprocessing

In [3]:
%%time

df = pd.read_csv("ProductsDataset.csv")

###### PREPROCESSING ##########################################################


# fill missing values in `descrirption` with "пусто"
df.descrirption =  df.loc[:, "descrirption"].fillna("пустота") # fill 

#  fill strings in subcategory_id with zeros
sub_id_list = []
for i in df.subcategory_id:
    try : sub_id_list.append (int(i))
    except : sub_id_list.append(0)
    
df['subcategory_id'] = pd.Series(sub_id_list)


df.reset_index(drop=True, inplace=True)                   # reseting index

### to lower case and delete spaces around string ###
df["descrirption"] = df.loc[:, "descrirption"].str.lower().str.strip()
df["title"] = df.loc[:, "title"].str.lower().str.strip()
df["properties"] = df.loc[:, "properties"].str.lower().str.strip()

# drop beaten rows
df = df.drop(df[df.product_id == '22'].index, axis="rows")
df = df.drop(df[df.properties.isna()].index, axis="rows") # drop missing values

### Properties ### + 4 sec
#‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾#
ser = properties_prerpoc(df.properties)
ser.get_series_of_dicts()

properties_key_lists, properties_value_lists = ser.compress_expand_lists_to_ser() 


df["properties_key_lists"] = properties_key_lists
df["properties_value_lists"] = properties_value_lists

#______________________________________________________#

### DROPPING ###
# drop columns
df = df.drop(["properties", "image_links"], axis="columns") # drop missing values
df.drop([26829],axis='rows',inplace=True) # and one row                             

df.reset_index(inplace=True, drop=True)

### change data type to true type
df['descrirption'] = df.loc[:,'descrirption'].astype("string")
df['title'] = df.loc[:,'title'].astype("string")
df['subcategory_id'] = df.loc[:,'subcategory_id'].astype("int64")
df['product_id'] = df.loc[:,'product_id'].astype("string")
df['category_id'] = df.loc[:,'category_id'].astype("int64")

CPU times: total: 5.11 s
Wall time: 5.11 s

In [4]:
###### MODEL PREPROCESSING ####################################################

### Stop-words ###
## initialization of the class with each column
des = model_prerpoc(df.descrirption)
title = model_prerpoc(df.title)
properties_value = model_prerpoc(df.properties_value_lists)

## get plain text of the columns without stop-words
des_text = des.prepearing_for_lemmatization() 
title_text = title.prepearing_for_lemmatization()
properties_value_text = properties_value.prepearing_for_lemmatization()

### Lemmatization ###
df.descrirption =  des.lemmatization(des_text)
df.title = title.lemmatization(title_text)
df.properties_value_lists = properties_value.lemmatization(properties_value_text)

# becouse of list to string tansformation dtype of column should change
df['properties_value_lists'] = df.loc[:,'properties_value_lists'].astype("string")

### make union column for every prepared string value #########################
df['text'] = df.title + df.descrirption + df.properties_value_lists
df['text'] = df.text.str.replace(".", "")
df['text'] = df.text.str.strip()

C:\Users\zetet\AppData\Local\Temp\ipykernel_9752\3845232426.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['text'] = df.text.str.replace(".", "")

In [5]:
df.sample(5)

,title,descrirption,product_id,category_id,subcategory_id,properties_key_lists,properties_value_lists,text
0,юбка детский orby,новый неносить раз реал красиво на фото,58e3cfe6132ca50e053f5f82,22,2211,[detskie_razmer_rost],81 - 86 1 5 год,юбка детский orby новый неносить раз реал крас...
1,ботильон,новый привозить чехия указывать размер 40 но ...,5667531b2b7f8d127d838c34,9,902,"[zhenskaya_odezhda_tzvet, visota_kabluka, zhen...",зеленый высокий 40 новый демисезон ботильон к...,ботильон новый привозить чехия указывать разм...
2,брюки,размер 40 - 42 брюки новый - незнать мерить п...,59534826aaab284cba337e06,9,906,"[zhenskaya_odezhda_dzhinsy_bryuki_tip, zhenski...",брюки 26,брюки размер 40 - 42 брюки новый - незнать ме...
3,продавать детский шапка,продавать шапка кажда 200р розовый белый прод...,57de544096ad842e26de8027,22,2217,"[detskie_pol, detskaya_odezhda_aksessuary_tip]",девочка головной убор,продавать детский шапка продавать шапка кажда...
4,блузка,темно-синий 42 размер состояние отличный как ...,5ad4d2626c86cb168d212022,9,907,"[zhenskaya_odezhda_tzvet, zhenskaya_odezhda_ra...",синий 42 - 44 s блуза,блузка темно-синий 42 размер состояние отличн...
...,...,...,...,...,...,...,...,...
35528,юбка,юбка белый по турция фирма adl,5b5f181c62e1c6616a7f6472,9,904,"[zhenskaya_odezhda_platya_yubki_tip, zhenskaya...",юбка 40 - 42 xs adl лето макси белый,юбка юбка белый по турция фирма adl юбка 40 ...
35529,новый твидовый пиджак,новый бирка пиджак размер s стиль coco chanel,5bd6c8b29e94ba033d31f8d0,9,908,"[brand_zhenskii, zhenskaya_odezhda_tzvet, zhen...",chanel красный пиджак 42 - 44 s,новый твидовый пиджак новый бирка пиджак разм...
35530,женский зимний куртка,женский зимний спортивный куртка фирма rossiq...,5bd6c8bc074b3e1c056f69b2,9,903,"[zhenskaya_odezhda_razmer, zhenskaya_odezhda_s...",48 - 50 xl зима куртка,женский зимний куртка женский зимний спортивн...
35531,новый золотой ветровка,женский ветровка размер 44 - 46 цвет приглуше...,5bd6c8fb2138bbc55745362c,9,903,"[zhenskaya_odezhda_razmer, zhenskaya_odezhda_s...",44 - 46 м лето ветровка,новый золотой ветровка женский ветровка разме...
35532,шарф \n,пустота \n,5bd6c8fbaaab283b79142a1f,9,914,[zhenskaya_odezhda_aksessuary_tip],шарф и платок,шарф пустота шарф и платок

## Бинарная классификация запроса на товарный или разговорный
Есть особенность - количество добавленных рагзоворных строк - минимально. Возможно дело в том, что в разговорах люди частенько говорят о товарах и вещах в принципе. Поэтому небольшое обогощение чатом работает достаточно хорошо. Одако можно просто повысить чувствительность модели к товарным предсказаниям.

In [ ]:
enriched_df = get_enriched_df(3000) # enriched df with chat and products

In [13]:
%%time

count_vectorizer = CountVectorizer() # bag of words

# make enriched by chat Bag-of-Words model
enriched_bag_of_words = count_vectorizer.fit_transform(enriched_df.message)
enriched_bag_of_words

train_x, valid_x, train_y, valid_y = model_selection.train_test_split(
    enriched_bag_of_words,
    enriched_df.is_product)

# binary classificator for products and chats
lr = linear_model.LogisticRegression(max_iter = 5000) 

lr.fit(train_x, train_y)

predictions = lr.predict(valid_x)
accuracy = metrics.accuracy_score(predictions, valid_y)
print(accuracy)

# train model on entire dataset
lr = linear_model.LogisticRegression(max_iter = 5000)
lr.fit(enriched_bag_of_words, enriched_df.is_product)

0.992734066846585
CPU times: total: 1.42 s
Wall time: 1.49 s

In [ ]:
## put model and vectors in a pickle files
pickle.dump(lr, open('ProductOrChat_LR_binary_classifier.pcl', 'wb'))
pickle.dump(count_vectorizer, open("product_bag_of_words.pcl",'wb'))

## Word2Vec подбор товара

In [14]:
df.text

0        юбка детский orby новый неносить раз реал крас...
1        ботильон  новый привозить чехия указывать разм...
2        брюки  размер 40 - 42 брюки новый - незнать ме...
3        продавать детский шапка  продавать шапка кажда...
4        блузка  темно-синий 42 размер состояние отличн...
                               ...
35528    юбка  юбка белый по турция фирма adl  юбка 40 ...
35529    новый твидовый пиджак  новый бирка пиджак разм...
35530    женский зимний куртка  женский зимний спортивн...
35531    новый золотой ветровка  женский ветровка разме...
35532                       шарф
 пустота
 шарф и платок
Name: text, Length: 35533, dtype: string

In [15]:
df.text = df.text.apply(gensim.utils.simple_preprocess) # ВААААУУУУ

In [16]:
%%time
model = gensim.models.Word2Vec(sentences=df.text,
                               vector_size=300,
                               window=5,
                               min_count=1,
                               workers=4,
                               epochs=40)

print("Слова, похожие на ботинок:")
display(model.wv.most_similar("ботинок"))
print()

# show similarity of two words
print("бумага и ножницы похожи на",model.wv.similarity(w1="бумага", w2="ножницы")) 
print("бумага и куртка похожи на", model.wv.similarity(w1="бумага", w2="куртка"))
print()
print("Количество документов в моделе:", model.corpus_count)
print()
print("Количество проиндексированных слов:",len(model.wv.index_to_key))
print()

Слова, похожие на ботинок:

[('сапог', 0.609857976436615),
 ('ботиночек', 0.6044977903366089),
 ('полусапожки', 0.5946965217590332),
 ('полуботинок', 0.591826319694519),
 ('ecco', 0.5326838493347168),
 ('дутик', 0.5129898190498352),
 ('кроссовок', 0.5122712850570679),
 ('сапожок', 0.5103806853294373),
 ('мокасин', 0.49656403064727783),
 ('geox', 0.4871010184288025)]

бумага и ножницы похожи на 0.53066134
бумага и куртка похожи на -0.27196267

Количество документов в моделе: 35533

Количество проиндексированных слов: 24069

CPU times: total: 1min 14s
Wall time: 20.1 s

- `sentences` - готовые документы для модели
- `vector_size` - длинна вектора для каждого слова
- `window` - то сколько слов будут связываться с текущим словом. Параметр равен 3: модель связывает три предыдущих и три следующих слова
- `min_count` - сколько слов должно быть в предложении, чтобы они попали в модель
- `workers` - количество потоков, в которых будет происходить обучение модели
- `epochs` - количество переобучений

In [18]:
model.save("./product_word2vec.model") # save the model into file #источник w2v для KNN подбора товара

### Создадим же вектора!

In [17]:
## Get token of the every word and put them into a list of token_words then 
## into a list of token rows. Sum arrays in every df row after all.
arrays_of_the_rows = []

for row in df.text:
    lst = []
    for i, word in enumerate(row):
        lst.append( model.wv.get_vector(word) )
    arrays_of_the_rows.append(np.sum(lst, axis=0))
    
print("Количество списков-массивов под каждый документ:", len(arrays_of_the_rows))
df_token = pd.DataFrame(arrays_of_the_rows)
df_token.sample()


## get word vector for each row and put them into df
df_token = pd.DataFrame(arrays_of_the_rows)
df_token.sample()

Количество списков-массивов под каждый документ: 35533

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
25107,-1.603296,-9.317245,2.881389,6.450144,-0.096271,-1.395643,-5.498714,2.740282,-0.827838,6.707425,...,3.427472,-3.759266,-1.431783,1.348433,-2.779685,-2.018862,6.608257,-1.517696,-2.069892,3.905683

In [20]:
type(arrays_of_the_rows)

list

### Предсказание

In [18]:
neigh = KNeighborsClassifier(n_neighbors=1).fit(df_token, df.product_id)

In [34]:
df_token

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,3.387931,-7.480555,3.030243,2.018352,-0.298101,2.948855,-9.768843,-5.207864,-6.444976,7.379704,...,3.323266,-4.618860,-2.283862,11.172792,-3.852499,-6.278765,-4.420383,6.023747,3.214039,5.397019
1,-5.658994,0.437887,16.818165,-17.038754,10.260569,9.426195,-13.437026,-18.508776,-13.749464,-2.804182,...,-2.563795,-23.647785,-2.680013,-5.544811,-16.265713,-17.670502,4.864739,3.733439,5.256413,-1.769020
2,6.790961,-14.754192,8.159169,-9.809493,0.388058,8.255690,-18.458614,-26.042984,-16.311970,13.759332,...,-6.907636,-19.319477,-14.130388,3.395448,-4.279499,-22.866940,13.452749,9.233954,0.350030,15.809640
3,6.943280,-12.877561,-2.956559,-2.464732,5.776071,1.136920,-3.043581,-13.836626,-12.833246,4.595929,...,-3.095728,1.550484,-5.272416,6.247656,3.964318,1.806624,5.246547,11.717538,7.178548,-1.382121
4,4.897306,-7.576097,6.655952,1.562201,-0.235619,7.003344,-5.236850,-9.012821,-8.232313,7.613881,...,6.981848,-2.831507,-15.661707,1.181792,-4.292832,-11.564430,-3.884160,7.908888,3.200600,8.672695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35528,5.570469,-10.921281,-2.005912,-0.494929,6.712392,5.140158,-1.143292,-14.030515,-1.665650,8.100939,...,3.776688,-6.561583,-5.916041,5.402406,3.010698,-7.207526,-1.810795,2.291627,5.221906,-4.045841
35529,1.753727,5.138597,-1.354939,-1.591074,2.692871,4.646680,-1.406133,-7.584275,-1.662513,2.608489,...,4.970819,1.237093,4.595140,-0.533065,1.147211,-4.122437,-2.111659,5.852236,12.016570,-2.749496
35530,4.395685,-15.804423,-4.624160,-9.184619,3.146211,8.865673,-7.840094,-9.098980,-6.034377,8.838702,...,-3.369271,-15.424500,-2.288614,10.997998,5.942061,-5.824782,13.686121,2.704127,-0.390718,3.597292
35531,-1.720762,-3.591802,-2.922281,-10.860423,3.431998,12.619671,-5.005291,-19.165705,-3.608877,1.878363,...,5.287851,-17.176752,-7.642520,1.703522,0.105931,-22.241936,3.148201,13.937441,15.812164,0.142388
35532,3.003938,0.807174,-4.923640,6.118271,-1.364800,2.373612,2.435582,0.600827,-5.165334,-1.626475,...,-4.154480,-0.503374,-1.143845,2.690209,2.364084,5.297872,5.186655,3.708120,-2.160925,-0.899415

In [41]:
get_neigh_answer("Кофта")

'5a427cb8c6ab9e6cea13bbb2  кофта '

In [19]:
pickle.dump(neigh, open('product_knn.pcl', 'wb'))

**Идеи**
- Отработать слова по типу мужское и женское, чтобы они меньше влияли на товар. Например, можно шкалировать их вектора на 0.3. Тоже самое вообще со всеми прилагательными.
- Лемматизация вводимой строки с помощью pymorphy2, чтобы алгоритм работал быстрее.

## Поиск похожего товара

In [268]:
%%time
df.text = df.text.apply(gensim.utils.simple_preprocess) 

model = gensim.models.Word2Vec(sentences=df.text,
                               vector_size=300,
                               window=5,
                               min_count=1,
                               workers=4,
                               epochs=40)

print("Слова, похожие на ботинок:")
display(model.wv.most_similar("ботинок"))
print()

# show similarity of two words
print("бумага и ножницы похожи на",model.wv.similarity(w1="бумага", w2="ножницы")) 
print("бумага и куртка похожи на", model.wv.similarity(w1="бумага", w2="куртка"))
print()
print("Количество документов в моделе:", model.corpus_count)
print()
print("Количество проиндексированных слов:",len(model.wv.index_to_key))
print()

Слова, похожие на ботинок:

[('ботиночек', 0.6054243445396423),
 ('сапог', 0.6042029857635498),
 ('полуботинок', 0.589913010597229),
 ('полусапожки', 0.584663450717926),
 ('ecco', 0.5424078106880188),
 ('сапожок', 0.5311369299888611),
 ('кроссовок', 0.5149757862091064),
 ('дутик', 0.5118626952171326),
 ('мокасин', 0.4966078996658325),
 ('сандалия', 0.49166375398635864)]

бумага и ножницы похожи на 0.53289443
бумага и куртка похожи на -0.25306898

Количество документов в моделе: 35533

Количество проиндексированных слов: 24069

CPU times: total: 1min 12s
Wall time: 20.6 s

In [270]:
## Get token of the every word and put them into a list of token_words then 
## into a list of token rows. Sum arrays in every df row after all.
arrays_of_the_rows = []

for row in df.text:
    lst = []
    for i, word in enumerate(row):
        lst.append( model.wv.get_vector(word) )
    arrays_of_the_rows.append(np.sum(lst, axis=0))
    
print("Количество списков-массивов под каждый документ:", len(arrays_of_the_rows))
df_token = pd.DataFrame(arrays_of_the_rows)
df_token.sample()


## get word vector for each row and put them into df
df_token = pd.DataFrame(arrays_of_the_rows)
df_token.sample()

Количество списков-массивов под каждый документ: 35533

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
28557,-0.46425,-12.915732,-2.305879,-8.056624,3.534496,13.204597,-14.0389,-13.789747,-0.497825,6.550236,...,-0.339058,-8.567385,1.791943,8.730715,2.721026,-2.091117,13.095016,3.884427,-4.742218,9.283775

In [271]:
# train and save KNN model
neigh = KNeighborsClassifier(n_neighbors=1).fit(df_token, df.product_id)
pickle.dump(neigh, open("product_knn.pcl",'wb'))

# Алгоритм

In [246]:
lr = pickle.load(open('ProductOrChat_LR_binary_classifier.pkl', 'rb'))

In [274]:
s = "Как заинтересовать девушку"
text = " ".join((Mystem().lemmatize(s))) # leammatization
lemmatized_words = gensim.utils.simple_preprocess(text)     # word preprocessing

predict_proba = lr.predict_proba(count_vectorizer.transform([" ".join(lemmatized_words)]))

print(predict_proba)

if predict_proba[0][1] > 0.16: ## Here is the time of KNN prediction
    print("Товар") # boost of sensitivity of the model 
    
    lst = []
    for i, word in enumerate(lemmatized_words):
        try:lst.append( model.wv.get_vector(word) )
        except KeyError: pass

    try: prediction = neigh.predict([np.sum(np.array(lst), axis=0)])[0]
    except ValueError: print("Похоже, что вы искали товар, но увы в каталоге нет ничего похожего.\nПопробуйте переформулировать запрос.")

    print (f"{prediction} {df[df.product_id == prediction].title.values[0]}")
    
else: 
    print("Разговор") # here is the time of Answering

[[0.96923633 0.03076367]]
Разговор